.product-single{
    margin: 40px;
}
.image-product{
    margin: 40px;
    margin-top: 0px;
    float: left;
   
}
/*.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;  Ensure the image covers the entire container 
  }*/
.product-names{
    font-family: 'Gelasio';
    font-size: 30px;
    color: #5c5858;
    padding-top: 10px;

}
.price-single-product{
    font-family: 'fenix';
    font-size: 30px;
    color: #c50909;
    font-weight: bold;
}
.add-to-cart{
    background-color: #c50909;
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
}
.add-to-cart:hover{
    background-color: #ab1010;
}
.added-to-cart{
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 7px;
}

.wishlist{
    margin: 10px 80px;
}
.wishlist h1{
    font-family: 'Poppins';
    color: #5c5858;
}
.wishlist-details{
    font-family: 'Gelasio';
    color: #5c5858;
}
.notification{
    font-family: 'Gelasio';
    color: #5c5858;
    margin: 20px 80px;
}
.section-notify{
    border: 1px solid #c50909;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-notify-today{
    background-color: #D7EFF9;
    border: 1px solid #D7EFF9;
    border-radius: 7px;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gelasio';
}