.product-single{
    margin: 40px;
}
.image-product{
    margin: 40px;
    margin-top: 0px;
    float: left;
   
}
.image-overlay {
    cursor: pointer;
  }
  /*
  .image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;  Ensure the image covers the entire container 
  }*/

  .breadcrumb .breadcrumb-item a{
    color: #aeaeae; 
    font-family: 'Poppins';
    font-size: 13px;
  
}
.breadcrumb .breadcrumb-item a:hover {
    color: #7c7b7b; 
  
}
.breadcrumb-item.active {
    color: #aeaeae;
}
.w-h input{
    width: 80px;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: #e2e2e2;
}
.d-flex.flex-row .p-2 {
    border-bottom: none;
    padding-left: 0px;
    
  }
.product-names{
    font-family: 'Graphik,Helvetica,sans-serif';
    font-size: 30px;
    color: #513f30;
    padding-top: 10px;
    padding-bottom: 10px;
}
.price-single-product{
    font-family: 'fenix';
    font-size: 30px;
    color: #c50909;
    font-weight: bold;
}
.add-to-cart{
    margin: 18px 0px;
    padding: 8px 28px;
    border: 2px solid;
    border-radius: 1px;
    font-weight: 600;
   
}
.sub-product-heading{
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 38px;
}

.added-to-cart{
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 7px;
}

.wishlist{
    display: grid;
    place-items: left; 
    max-width: 1000px;
    justify-content: center;
    text-align: left;
    margin: auto; 
}
.wishlist h1{
    font-family: 'Poppins';
    color: #5c5858;
}
.wishlist-details{
    font-family: 'Gelasio';
    color: #5c5858;
}
.notification{
    font-family: 'Gelasio';
    color: #5c5858;
    margin: 20px 80px;
}
.section-notify{
    border: 1px solid #c50909;
    padding: 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-notify-today{
    background-color: #D7EFF9;
    border: 1px solid #D7EFF9;
    border-radius: 7px;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gelasio';
}
.image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center; /* Center items horizontally */
    margin-top: 30px;
}