.product-single{
    margin: 40px;
}
.image-product{
    margin: 40px;
    margin-top: 0px;
    float: left;
}
.product-names{
    font-family: 'Gelasio';
    font-size: 30px;
    color: #5c5858;
    padding-top: 10px;

}
.price-single-product{
    font-family: 'fenix';
    font-size: 30px;
    color: #c50909;
    font-weight: bold;
}
.add-to-cart{
    background-color: #c50909;
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
}
.add-to-cart:hover{
    background-color: #ab1010;
}
.added-to-cart{
    padding: 8px 20px;
    border: 1px solid #fff;
    border-radius: 7px;
}
