.left_align{

    margin-top: 40px;
    width: 58%;
    float: left;
}
.right_align{
    padding-left: 30px;
    width: 40%;
    margin-top: 0px;
    float: right;
}
.container{
    width: 100%;
    margin-left: 55px;
    display: block;
    height: auto;
    
}
.contain{
  display: block;
}

.hhh{
    font-family: 'Abril Fatface', serif;
    font-size: 65px;
    letter-spacing: 2px;
    color: #3A654B;
    margin-bottom: 20px;
}
.paragraph{
    color: #8B8B89;
    font-weight: 700;
}

/* Buttons */
.round-button {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 25px; /* Use half of the height for a perfectly round button */
    text-decoration: none;
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
    background-color: #DFB41B; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);


  }
  .round-button-upload{
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 25px; /* Use half of the height for a perfectly round button */
    text-decoration: none;
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
    background-color: #9C0606; /* Set your desired background color */
    color: #ffffff; /* Set your desired text color */
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
  }
  .round-button-search{
    display: inline-block;
    padding-top: 10px; /* Adjust padding as needed */
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 300px;
    border-radius: 25px; /* Use half of the height for a perfectly round button */
    border-width: 2px;
    border-color: #287D90;
    text-decoration: none;
    text-align: center;
    font-size: 16px; 
    color: #287D90; /* Set your desired text color */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
    margin-right: 20px;
    cursor: pointer;
  }
  
  /* Hover effect for the button */
  .round-button:hover {
    background-color: #DFB41B; /* Set a different color on hover if desired */
  }
  .iconweight{
    font-weight: bolder;
  }
  .product-homepage{
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .product-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #838383;
    padding-top: 10px;

  }
  .price{
    color: #C00505;
    font-size: 20px;
    font-weight: bold;
  }




  
/* about us section */
  .header-aboutus{
    font-family: 'Abril Fatface', serif;
    color: #0E4224;
  }
  .sub-header-aboutus{
    color: #9D9797;
    font-size: 17px;
  }
  .image-height{
    height: 400px;
    
  }
  .para-about{
    color: #000;

    text-align: justify;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .vision{
    margin-top: 57px;
    margin-left: 40px;
    padding-left: 40px;
    margin-bottom: 122px;
   
  }
  .vision1{
    font-family: 'Gelasio';
    font-style: italic;
    font-size: 39px;
    color: #A40C0C;
    font-weight: 200;
    margin-bottom: 40px;
    line-height: normal;
  }
  .mission{
    margin-right: 120px;
    margin-left: 120px;
  }
  .image-content{
    margin: 90px;
    
  }
  .image-content div{
    margin: 30px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .title{
    color: #DFB41B;

    text-align: justify;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }


  .contact{
    color: #8B8787;
    font-family: 'Gelasio', serif;
    font-weight: lighter;
    margin-top: 30px;
  }
  .thankyou{
    color: #8B8787;
   
   
  }
  .contact-form{
    text-align: center;
    width: 1000px;
    margin-left: 40px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background-image: url('../Images/LoginImage.png');
    box-shadow: 4 0 10px rgba(213, 34, 34, 0.2); /* Simple box shadow */
    padding-bottom: 40px;

  }
  .email-input{
    width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  }
  .placeholder{
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
.contact-owner{
  width: 600px;
  background-color:#F4F4F4;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #DBDBDB ;
  border-color: #DBDBDB;
  margin: 60px;
}
.emoji{
  margin: 30px;
}
.para{
  text-align: left;
  margin-top: 18px;
}
.center-container{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-bottom: 40px;
}

