/* Use ms-auto to push icons to the right */
.text{
  font-family: 'Poppins';
  font-size: '16px';
   padding-left: '10px';
   color: #795F49;
    font-weight: '600';
     display: 'inline-block';
      
}
.navbar-nav .icons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  /* Add margin to the icons */
  .navbar-nav .icon {
    margin-left: 20px; /* Adjust as needed */
    color: black;
    font-size: 20px; /* Set the desired font size for icons */
  }
  .navbar-nav .texts {
    display: flex;
    align-items: center;
    margin-left: 216px;
    justify-content: center; /* Center the icons horizontally */
  }
  
  /* Add margin to the icons */
  .navbar-nav .text {
    margin-left: 25px; /* Adjust as needed */
    font-size: 16px; /* Set the desired font size for icons */
    font-weight: bolder;
    color: #795F49;
  }
  .navbar-nav .text:hover {
    
    color: #433427;
  }
  .iconify{
    color: #795F49;
    
  }
  .iconify:hover{
    color: #433426;
  }
  .count-cart {
    padding:2px 4px;
    border-radius: 50%;
    background: #d60b28;
    
  }

  .count-badge {
    width: 20px; /* Set a fixed width */
    height: 20px; /* Set a fixed height */
    line-height: 20px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
    font-size: 12px; /* Adjust font size as needed */
    background: #d60b28;
    color: white;
    border-radius: 50%;
    padding-bottom: 3px;
  }
  .count-wishlist {
    position: absolute;
    padding-top: 2px;
    margin-left:149px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 50%;
    background: #d60b28;
    width: 18px;
    height: 18px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'fenix';
   
  }
  
  