/* Use ms-auto to push icons to the right */
.navbar-nav .icons {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  /* Add margin to the icons */
  .navbar-nav .icon {
    margin-left: 20px; /* Adjust as needed */
    color: black;
    font-size: 20px; /* Set the desired font size for icons */
  }
  .navbar-nav .texts {
    display: flex;
    align-items: center;
    margin-left: 216px;
    justify-content: center; /* Center the icons horizontally */
  }
  
  /* Add margin to the icons */
  .navbar-nav .text {
    margin-left: 50px; /* Adjust as needed */
    font-size: 20px; /* Set the desired font size for icons */
    font-weight: bolder;
  }
  .iconify{
    color: #426751;
    
  }
  .iconify:hover{
    color: #76bb90;
  }
  .count-cart {
    position: absolute;
    padding-top: 2px;
    margin-left:90px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 50%;
    background: #d60b28;
    width: 18px;
    height: 18px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'fenix';
  }
  .count-wishlist {
    position: absolute;
    padding-top: 2px;
    margin-left:149px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 50%;
    background: #d60b28;
    width: 18px;
    height: 18px;
    line-height:16px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'fenix';
   
  }
  
  