
  .d-flex {
    display: flex;
  }
  
.navbar-wrapper {
    background-color: #fff; /* Navbar background color */
    padding: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
  }
  
  .navbar-wrapper .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-wrapper .navbar-logo {
    margin-right: auto;
  }
  
  .navbar-wrapper .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-wrapper .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #426751; /* Link color */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  
  .navbar-wrapper .nav-links a:hover {
    color: #333; /* Hover color */
  }
  
  .navbar-wrapper .icon {
    margin-left: 20px;
  }
  
  .side-navbar {
    
    background-color: #FBE9A7;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; 
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 4px; 
    color: #FBE9A7;
  }
  
  .side-navbar a {
    text-decoration: none;
    color: #fff; /* Sidebar link color */
    margin-top: 10px;
    
  }
  
  .side-navbar a:hover {
    color: #eee; /* Sidebar link hover color */
  }
  
  .side-navbar .icon {
    margin-bottom: 10px;
  }
  .side-navbar p {
    color: #426751;
    font-family: 'Poppins';
    font-weight: bold;
  }
  .stack{
    width: 400px;
    border-top: 1px solid #9B9494;
    border-left: 1px solid #9B9494;
    border-right: 1px solid #9B9494;
   
  }
  .category{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .add-notify{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .name{
    padding-left: 13px;
  }
  .admin-panel{
    margin-right: 30px;
  }
  .p-2{
    padding: 10px 25px;
    border-bottom: 1px solid #9B9494;
    font-family: 'Poppins';
    text-align: center;
  }
  .active-admin {
    background-color: #0A57D1;
    color: white;
   
  }
  .header-text{
   
    font-weight:bold;
    margin-bottom:20px;
   
  }

  /* edit category */
  .categoryChange{
    width: 100%;
    padding: 12px 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .editLabel{
    font-size: 20px;
    font-weight: light;
    font-family: 'Poppins', sans-serif;
    color: #514c4c;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
 
  .product-view {
   
}
  .view-width{
    width: 20%;
  }
  .image{
    flex: 0 0 auto;
    width: 70%;
    height: 80%; 
    overflow: hidden; /* Hide any content that overflows the image container */
    margin-bottom: 10px;
  }
  .image img {
    display: block;
    max-width: 100%; 
    max-height: 100vh;
    width: auto;
    height: auto;
}
.title-product-details{
  color: #034959;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 3px;
  border-bottom: 1px solid #034959;
}
.title-name{
  color: #175D73;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 10px;
}
.product-color-weight{
  color: rgba(0, 0, 0, 0.46);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.details {
  width: 90%; 
  text-align: justify;
  padding: 20px;
  overflow-y: auto; 
}
.details p {
  margin: 0; 
}

.report{
  
  padding: 30px;
  
}
.report-section{
  border: 1px solid #ffeba1;
  border-radius: 4px;
  padding: 20px;
  background-color: #fff9e3; 
  margin-bottom: 10px;
}
.searchBar{
  margin-right: 10px;
}
/* Add this media query to handle smaller screen sizes */
@media (max-width: 768px) {
  .col-md-3 {
      flex: 0 0 auto; /* Fix the width of the column */
      max-width: 100%; /* Ensure the column takes full width on smaller screens */
  }
  .col-md-9 {
      flex: 0 0 100%; /* Fix the width of the column */
      max-width: 100%; /* Ensure the column takes full width on smaller screens */
  }
}

.table-responsive {
  overflow-x: auto;
}
.table-tt th{
  font-family: 'Poppins';
  font-weight: 300;
}


body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
  
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
   
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: white;
  
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #d8db13 !important;
  color: white;
}
.navLink-color .list-group-item {
  
}