@media only screen and (min-width: 1000px) {
  .d-flex {
    display: flex;
  }
  
.navbar-wrapper {
    background-color: #fff; /* Navbar background color */
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
  }
  
  .navbar-wrapper .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-wrapper .navbar-logo {
    margin-right: auto;
  }
  
  .navbar-wrapper .nav-links {
    display: flex;
  }
  
  .navbar-wrapper .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #426751; /* Link color */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  
  .navbar-wrapper .nav-links a:hover {
    color: #333; /* Hover color */
  }
  
  .navbar-wrapper .icon {
    margin-left: 20px;
  }
  
  .side-navbar {
    height: 100vh;
    width: 220px; /* Adjust the width based on your design */
    background-color: #FBE9A7; /* Sidebar background color */
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0px;
    color: #FBE9A7; /* Sidebar icon color */
  }
  
  .side-navbar a {
    text-decoration: none;
    color: #fff; /* Sidebar link color */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .side-navbar a:hover {
    color: #eee; /* Sidebar link hover color */
  }
  
  .side-navbar .icon {
    margin-bottom: 10px;
  }
  .side-navbar p {
    color: #426751;
    font-family: 'Poppins';
    font-weight: bold;
  }
  .stack{
    width: 400px;
    border-top: 1px solid #9B9494;
    border-left: 1px solid #9B9494;
    border-right: 1px solid #9B9494;
   
  }
  .category{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .admin-panel{
    margin-right: 30px;
  }
  .p-2{
    padding: 10px 25px;
    border-bottom: 1px solid #9B9494;
    font-family: 'Poppins';
    text-align: center;
  }
  .active {
    background-color: #0A57D1;
    color: white;
   
  }
  .header-text{
   
    font-weight:bold;
    margin-bottom:20px;
    margin-top: 40px;
  }

  /* edit category */
  .categoryChange{
    width: 100%;
    padding: 12px 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .editLabel{
    font-size: 20px;
    font-weight: light;
    font-family: 'Poppins', sans-serif;
    color: #514c4c;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }
  .formedit{
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 450px) {
  .toggle-button {
    display: block; /* Show the button on small screens */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
  .navbar-wrapper {
      margin-left: -200px; /* Hide the navbar on small screens */
      background-color: #fff; /* Navbar background color */
      
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for a subtle effect */
    }
    
    .navbar-wrapper .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .navbar-wrapper .navbar-logo {
      margin-right: auto;
    }
    
    .navbar-wrapper .nav-links {
      display: flex;
    }
    
    .navbar-wrapper .nav-links a {
      margin-left: 20px;
      text-decoration: none;
      color: #426751; /* Link color */
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 700;
    }
    
    .navbar-wrapper .nav-links a:hover {
      color: #333; /* Hover color */
    }
    
    .navbar-wrapper .icon {
      margin-left: 20px;
    }
    
    .side-navbar {
      height: 100vh;
      width: 220px; /* Adjust the width based on your design */
      background-color: #FBE9A7; /* Sidebar background color */
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-top: 0px;
      color: #FBE9A7; /* Sidebar icon color */
    }
    
    .side-navbar a {
      text-decoration: none;
      color: #fff; /* Sidebar link color */
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    
    .side-navbar a:hover {
      color: #eee; /* Sidebar link hover color */
    }
    
    .side-navbar .icon {
      margin-bottom: 10px;
    }
    .side-navbar p {
      color: #426751;
      font-family: 'Poppins';
      font-weight: bold;
    }
    .stack{
      width: 400px;
      border-top: 1px solid #9B9494;
      border-left: 1px solid #9B9494;
      border-right: 1px solid #9B9494;
     
    }
    .category{
      width: 92%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #888888;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .category-table{
      width: 92%;
    }
    
    .admin-panel{
      margin-right: 30px;
    }
    .p-2{
      padding: 10px 25px;
      border-bottom: 1px solid #9B9494;
      font-family: 'Poppins';
      text-align: center;
    }
    .active {
      background-color: #0A57D1;
      color: white;
     
    }
    .header-text{
     
      font-weight:bold;
      margin-bottom:20px;
      margin-top: 40px;
    }
  
    /* edit category */
    .categoryChange{
      width: 100%;
      padding: 12px 20px;
      margin-top: 0px;
      margin-bottom: 8px;
      display: inline-block;
      border: 1px solid #888888;
      border-radius: 4px;
      box-sizing: border-box;
    }
    .editLabel{
      font-size: 20px;
      font-weight: light;
      font-family: 'Poppins', sans-serif;
      color: #514c4c;
      padding-top: 30px;
      padding-bottom: 5px;
      margin-bottom: 0px;
    }
    .formedit{
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .d-flex {
      flex-direction: column;
    }
  }